<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
  
  	<bean id="parentmessagebean" class="bean.MessageBean">
  		<property name="type" value="MESSAGE:"/>
  		<property name="number" value="2014"/>
  	</bean>
  	
	<bean id="messagebean" class="bean.MessageBean" autowire="byName" parent="parentmessagebean">
	</bean>
	
	<bean id="month" class="bean.MessageContent">
 		<property name="time" value="12"/>
 	</bean>
 	<bean id="date" class="bean.MessageContent">
 		<property name="time" value="25"/>
 	</bean>

	<alias name="messagebean" alias="messagebean-alias"/>
</beans>