<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans> <!-- defalut-init-method="myInit" default-destroy-method="clearUp"  -->
  
  	<bean id="parentmessagebean" class="bean.MessageBean">
  		<property name="type" value="MESSAGE:"/>
  		<property name="number" value="2014"/>
  	</bean>
  	
	<bean id="messagebean" class="bean.MessageBean" autowire="byName" parent="parentmessagebean" init-method="myInit" destroy-method="clearUp">
	</bean>
	
	<bean id="month" class="bean.MessageContent">
 		<property name="time" value="${month.time}"/>
 	</bean>
 	<bean id="date" class="bean.MessageContent">
 		<property name="time" value="${date.time}"/>
 	</bean>

	<alias name="messagebean" alias="messagebean-alias"/>
	
	<bean class="bean.DisplayNameBeanPostProcessor"/>
	
	<bean class="bean.MyBeanFactoryPP"/>
	
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location" value="messageconfig.properties"/>
	</bean>
	
	<bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor"/>
	<bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor" />
	
</beans>