<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
  
	<bean id="messagebean" class="bean.MessageBean">
	  <constructor-arg value="MESSAGE: "/>
	  <constructor-arg value="2014"></constructor-arg>
	  <property name="month">
	  	<bean class="bean.MessageContent">
			<property name="time" value="12"/>
		</bean>
	  </property>
	  <property name="date">
	  	<bean class="bean.MessageContent">
			<property name="time" value="25"/>
		</bean>
	  </property>
	</bean>

	<alias name="messagebean" alias="messagebean-alias"/>
</beans>